<!DOCTYPE html>
<html>
  <head>
    <title>About Equilibrium</title>
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="/css/index.css" rel="stylesheet" media="screen"/>
    <link href="/css/about.css" rel="stylesheet" media="screen"/>
  </head>

  <body>
    
    <div class="navbar">
      <div class="navbar-inner">

	<a class="brand" href="/">
	  <img id="icon" src="/img/world.png" class="divider-vertical">
	  Equilibrium
	</a>
	
	<ul id="nav-buttons" class="nav pull-right">
	  <li class="divider-vertical"><a href="/about"><b>About</b></a></li>
	  <li class="divider-vertical"><a href="/contact">Contact</a></li>
	  <li class="divider-vertical"><a href="/donate">Donate</a></li>
	  <li class="divider-vertical"><a href="/login">Log in</a></li>
	</ul>
      </div>
    </div>

    <div id="main-block">

      <div id="tag-line">
	<h2>Our Mission</h2>
      </div>
      
      <div class="row">
	<div class="span5">
	  <img src="/img/tools.jpg">
	  <hr>
	  <p>
	    Nunc accumsan, magna ac cursus vehicula, felis lectus suscipit ligula, at lobortis leo justo sit amet libero. Aliquam fermentum pretium tortor, eget aliquet nisi feugiat in. Morbi dignissim auctor placerat. Phasellus risus felis, scelerisque non faucibus sed, ornare ac mi. 
	  </p>
	</div>
	<div class="span5">
	  <p>
	    Phasellus vitae metus et libero vestibulum euismod ac sed odio. Donec faucibus, lorem vel faucibus feugiat, nibh sapien accumsan tortor, in condimentum elit nisi non leo. Cras eget eros enim. Nullam placerat nibh sed erat adipiscing non porta risus vestibulum. Nulla non ante arcu. Nam a commodo elit.
	  </p>
	  <hr>
	  <img src="/img/baby.jpg">
	</div>
      </div>

    </div>



    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>

</html>
