<!DOCTYPE html>
<html>
  <head>
    <title>About Equilibrium</title>
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="/css/index.css" rel="stylesheet" media="screen"/>
    <link href="/css/about.css" rel="stylesheet" media="screen"/>
  </head>

  <body>
    
    <div class="navbar">
      <div class="navbar-inner">

	<a class="brand" href="/">
	  <img id="icon" src="/img/world.png" class="divider-vertical">
	  Equilibrium
	</a>
	
	<ul id="nav-buttons" class="nav pull-right">
	  <li class="divider-vertical"><a href="/about">About</a></li>
	  <li class="divider-vertical"><a href="/contact"><b>Contact</b></a></li>
	  <li class="divider-vertical"><a href="/donate">Donate</a></li>
	  <li class="divider-vertical"><a href="/login">Log in</a></li>
	</ul>
      </div>
    </div>

    <div id="main-block">

      <div class="hero-unit" style="background: url(/img/white-background.jpg) no-repeat; background-size: cover; background-position:center; ">
	<h2 >Contact our Team</h2>
	<p>Ask a question, request an invitation, or provide us feedback.</p>
	<p>We will respond promptly within 24-hours.</p>
      </div>
      
      <form class="form-horizontal">
	<div class="control-group">
	  <label class="control-label" for="inputHeadquarters">Headquarters</label>
	  <div class="controls">
	    <input type="text" class="input-xxlarge" id="inputHeadquarters" placeholder="123 Hospital Road, Mountain View, CA">
	  </div>
	</div>

	<div class="control-group">
	  <label class="control-label" for="inputPhone">Phone</label>
	  <div class="controls">
	    <input type="text" class="input-large" id="inputPhone" placeholder="123-456-7890">
	  </div>
	</div>

	<div class="control-group">
	  <label class="control-label" for="inputEmail">Email</label>
	  <div class="controls">
	    <input type="text" id="inputEmail" placeholder="me@email.com">
	  </div>
	</div>

	<div class="control-group">
	  <label class="control-label" for="inputMessage">Message</label>
	  <div class="controls">
	    <textarea id="inputMessage" class="input-xxlarge" rows="4" placeholder="We are interested in joining Equilibrium."></textarea>
	  </div>
	</div>


      </form>

      <center>
	<button class="btn btn-primary">Send</button>
      </center>

      <hr>

    </div>



    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>

</html>
