<!DOCTYPE html>
<html>
  <head>
    <title>About Equilibrium</title>
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="/css/index.css" rel="stylesheet" media="screen"/>
    <link href="/css/contact.css" rel="stylesheet" media="screen"/>
    <link href="/css/about.css" rel="stylesheet" media="screen"/>
  </head>

  <body>
    
    <div class="navbar">
      <div class="navbar-inner">

	<a class="brand" href="/">
	  <img id="icon" src="/img/world.png" class="divider-vertical">
	  Equilibrium
	</a>
	
	<ul id="nav-buttons" class="nav pull-right">
	  <li class="divider-vertical"><a href="/about">About</a></li>
	  <li class="divider-vertical"><a href="/contact"><b>Contact</b></a></li>
	  <li class="divider-vertical"><a href="/donate">Donate</a></li>
	  <li class="divider-vertical"><a href="/login">Log in</a></li>
	</ul>
      </div>
    </div>

    <div id="main-block">

      <div class="hero-unit" style="background: url(/img/whiteback.png) no-repeat; background-size: cover; background-position:center; ">
	<h2 >Contact our Team</h2>
      </div>

      <table class="table table-hover">
	<tr>
	  <td class="contact-type"><h4>Headquarters:</h4></td>
	  <td><h4>123 Hospital Road, Cincinnati, OH</h4></td>
	</tr>
	<tr>
	  <td class="contact-type"><h4>Phone:</h4></td>
	  <td><h4>123-456-7890</h4></td>
	</tr>
	<tr>
	  <td class="contact-type"><h4>Email:</h4></td>
	  <td><h4>hello@equilibrium.io</h4></td>
	</tr>

      </table>
      
      <div id="map-canvas"/>
    </div>

    <hr>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0K7mmuTqoDGoTqrFobadfgihnAyJp2oQ&sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(39.1619, -84.4569),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>

</html>
